@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
    font-family: 'Outfit', sans-serif;
    background: #0B0E17;
    margin: 0;
    scroll-behavior: smooth;
    /* scroll-snap-type: y mandatory; */
}

.hero-bg {
    background: #0B0E17;
    background-image: radial-gradient(#00F9F9 1px, transparent 0);
    background-size: 64px 64px;
}

::-webkit-scrollbar {
    width: .25rem;
    height: .25rem;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(131, 131, 131);
    border-radius: 10px;
}

.border-text {
    writing-mode: vertical-rl
}

.card {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.abt {
    background-image: url('../../public/self-pic.jpg');
    background-position: top center;
    background-size: cover;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

.abt-text {
    font-size: clamp(12px, 1.5vh, 30px);

    &>span {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        /* Add a text shadow for depth */
        background: rgba(255, 255, 255, 0.1);
        /* Optional: subtle background for contrast */
    }
}

.proj {
    text-indent: 0;
    padding-left: 0;
}