.tab-header {
    text-align: center;
}

.content {
    text-align: center;
    color: rgba(255, 255, 255, 0.833);
    padding: 1em;
}

.item {
    font-size: .75em;
}

.subitem {
    font-size: .5em;
    list-style-type: none;
}