.dropdown-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.075);
    border-radius: 1em;
}

.dropdown-item {
    width: 7em;
    height: 1em;
    padding: 0 1em 1em 1em;
    margin: .5em;
    border-radius: 1em;
    list-style: none;
    background-color: rgb(70, 70, 70);
    color: rgba(255, 255, 255, 0.833);
    text-align: center;
}

.true {
    animation: pop-in 0.25s;
}

.false {
    animation: pop-out 0.25s;
}

@keyframes pop-in {
    0% { opacity: 0; transform: scale(0.5); }
    100% { opacity: 1; transform: scale(1); }
}

@keyframes pop-out {
    0% { opacity: 1; transform: scale(1); }
    100% { opacity: 0; transform: scale(0); }
    100% {display: none;}
}