.link::before {
    content: "?";
    background-color: #00f9f9;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0%;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    color: rgba(0, 0, 0, 0);
    border-radius: 2px;
}

.link:hover::before{
    visibility: visible;
    width: 100%;
}

.link a {
    color: white;
    transition: all 0.5s ease-in-out;
}

.link:hover a{
    transition: all 0.5s ease-in-out;
    color: black;
}

.link {
    position: relative;
}

.menulink {
    transition: all 0.4s ease-in-out;
}

.menulink:hover {
    transition: all 0.4s ease-in-out;
    transform: scale(1.05);
}