@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(180deg, #444444 60%, #292929);
}

#dropdown {
  visibility: hidden;
  color: transparent;
}

@keyframes slide-1 {
  0% {
    visibility: visible;
    height: 0vh;
  }

  80% {
    visibility: visible;
    height: 100vh;
  }

  100% {
    visibility: visible;
    height: 100vh;
    color: white;
  }
}

@keyframes slide-reverse {
  0%,80% {
    visibility: visible;
    height: 100vh;
  }
  80% {
    visibility: hidden;
    height: 0vh;
  }
  100% {
    visibility: hidden;
    height: 0vh;
    color: transparent;
  }
}

#dropdown.true {
  animation: slide-1 0.5s forwards;
}

#dropdown.false {
  animation: slide-reverse 0.5s forwards;
}

.navitem {
  transition: all ease-in-out .15s;
}

.navitem:hover {
  cursor: pointer;
  border-color: #1ddcdc;
  background-color: #1ddcdc80;
  color: #1ddcdc;
}

.card {
  transition: all ease-in-out .15s;
}

.card:hover {
  cursor: pointer;
  border-color: #1ddcdc;
  background-color: #1ddcdc3b;
  color:#1ddcdc;
}

.card .image {
  transition: all ease-in-out .15s;
  transform: scale(1.0);
}

.card:hover .image{
  transition: all ease-in-out .15s;
  transform: scale(1.05);
  background-color: #ffffff80;
}

.card:hover::after {
  transition: all ease-in-out .15s;
  transform: scale(1.0);
}

.image {
  display: block;
  width: auto;
  height: 100%;
}

.typewriter {
  display: inline-flex;
}

@media screen and (max-width: 768px){
  .typewriter .typewriter-elements {
    height: 1.75rem;
    overflow: hidden;
  }

  @keyframes slide {
    100% {
      top: -5.25rem;
    }
  }
}

@media screen and (min-width: 768px){
  .typewriter .typewriter-elements {
    height: 1.875rem;
    overflow: hidden;
  }

  @keyframes slide {
    100% {
      top: -6.75rem;
    }
  }
}

@media screen and (min-width: 1024px){
  .typewriter .typewriter-elements {
    height: 3rem;
    overflow: hidden;
  }
  @keyframes slide {
    100% {
      top: -9rem;
    }
  }
}

.typewriter-elements li {
  background-color: #44444400;
  top: 0;
  position: relative;
  animation: slide 9s steps(3) infinite;
}

.typewriter-elements li span {
  position: relative;
}

.typewriter-elements li span::after{
  background-color: #444444;
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  list-style: none;
  overflow: hidden;
  border-left: .15rem solid #1ddcdc;
  animation: typing 3s steps(22) infinite;
}

@keyframes typing {
  75%, 90% {
    left: 100%;
    margin: 0 100% 0 1%;
  }
}

.expandable {
  overflow: hidden;
  height: 100%;
  transition: all .5s ease-in-out .2s;
  width: 0;
  color: transparent;
}
 
.expandable:target{
  width: 100%;
  height: 100%;
  color:#1ddcdc;
}