.tab-header {
    text-align: center;
}

.content {
    text-align: center;
    color: rgba(255, 255, 255, 0.833);
}

.item {
    font-size: .75em;
}

.subitem {
    font-size: .5em;
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 1em;
}

.subitem-box {
    padding: 1.5%;
    background-color: rgb(0, 120, 255);
    color: rgba(255, 255, 255, 0.833);
    border-radius: 1em;
}