.flex-box {
    margin-left: 70%;
    display: flex;
    flex-direction: row;
}

.flex-item {
    display: flex;
    flex: 1;
    justify-content: center;
    
}

.main-text {
    color: #00a9a5;
    font-size: 1vw;
}