.container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20vh;
    width: 100vw;
    
}

.flex-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.flex-item {
    display: flex;
    flex: 1;
    justify-content: center;
    color: #00a9a5;
    height: 15vw;
    width: auto;
    padding: 0 1vw 0 1vw;
}

.main-text {
    color: #00a9a5;
    font-size: calc(5vw + 5vh);
    font-weight: bold;
}

.icon.animated{
    animation: flip .2s linear;
}

@keyframes flip{
    100%{
        transform: rotateY(360deg);
    }
}